.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &_content {
    width: 100%;
    max-width: 600px;
    padding: 16px;
    background-color: #fff;
  }
}