.modal-content {
  box-sizing: border-box;
  position: relative;

  &__header {
    display: flex;
    justify-content: space-around;
  }

  &__tab {
    color: gray;
    cursor: pointer;

    &:hover {
      color: #000;
    }

    &._active {
      color: #000;
      text-decoration: underline;
    }
  }

  &__body {
    width: 100%;
    margin-top: 16px;

    input {
      width: 100%;
    }

    button {
      margin-top: 8px;
      margin-right: 8px;
    }
  }
}