.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  
  td, th {
    width: 25%;
    padding: 8px;
    border: 1px solid #000;
    text-align: center;
  }

  .action-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    background-size: contain;
    cursor: pointer;

    &_edit {
      background-image: url('./images/edit.png');
    }

    &_delete {
      background-image: url('./images/delete.png');
    }
  }
}